<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
        <p> {{ message }} </p>
        <p></p>
        <ul>
        {% for shop in shops %}
            <li><a href="/shop/{{shop.id}}"> Название: {{shop.name}} адрес: {{shop.location}} </a> </li>
        {% endfor %}
        </ul>
        {% if display %}
            <p><a href="/shop/create"> Добавить магазин </a> </p>
        {% endif %}
        <p></p>
    <a href="\main"> На главную</a>
</body>
</html>
