<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
        <p> {{ message }} </p>
        <p></p>
       <h2> Название: {{shop.name}}</h2>

       <p>Адрес магазина: {{shop.location}}</p>
        <p></p>
        <p><a href="/shop/list"><button>Вернуться к списку магазинов</button></a> </p>
        {% if display %}
            <p><a href="/shop/update/{{shop.id}}"><button>Изменить</button></a> </p>
            <p><a href="/shop/delete/{{shop.id}}"><button>Удалить</button></a> </p>
        {% endif %}
        <p></p>
    <p><a href="\main"><button>На главную</button></a></p>
</body>
</html>
