<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
        <p> {{ message }} </p>
        <p></p>
        <section class="conteiner-fluid">
            <form method="post" action="/user/list/update/{{user.id}}?">
                <div class="col-auto">
                    <div class="imput-group">
                    <p>Пользователь: {{user.username}}</p>
                   <label for="email"> Введите адрес электронной почты </label>
                    <input type="text" id="email" name="email" value={{user.email}}
                    aria-describedby="btn-update">
                    <p></p>
                     <label for="day_birth"> Введите дату рождения: </label>
                    <input type="date" id="day_birth" name="day_birth" value={{user.day_birth}}
                    aria-describedby="btn-update">
                    <p></p>
                    <label for="is_active">Активный: </label>
                    <input type="text" id="is_active" name="is_active" {% if user.is_active %} value="Да" {% else %} value="Нет" {% endif %}
                    aria-describedby="btn-update"> Да/Нет
                    <p></p>
                    <label for="is_staff">Сотрудник: </label>
                    <input type="text" id="is_staff" name="is_staff" {% if user.is_staff %} value="Да" {% else %} value="Нет" {% endif %}
                    aria-describedby="btn-update"> Да/Нет
                    <p></p>
                    <label for="admin">Администратор: </label>
                    <input type="text" id="admin" name="admin" {% if user.admin %} value="Да" {% else %} value="Нет"  {% endif %}
                    aria-describedby="btn-update"> Да/Нет
                        <p></p>
                    <button type="submit" id="btn-update">Изменить</button>
                     <p></p>
                    </div>
                </div>
            </form>
        </section>
         <p><a href="/user/list/delete/{{user.id}}"> <button> Удалить </button> </a> </p>
        <p></p>
        <p></p>
        <a href="\main"> На главную</a>

</body>
</html>