<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{title}} </title>
</head>
<body>
        <h1> {{title}}  </h1>
        <p> {{ message }} </p>
        <p></p>
        {% if display %}
        <section class="conteiner-fluid">
            <form method="get" action="/category/update/{{id_category}}">
                <div class="col-auto">
                    <div class="imput-group">
                        <h2>Изменение категории: {{category.name}}</h2>
                    <p>Выберите родительскую категорию: </p>
                        <ul>
								<li>
								  <label>
									<input type="radio" value="-1" name="parent"> Нет
								  </label>
								</li>                            
							{% for i in categories %}
                                {% if not id_category == i.id %}
                                    <li>
                                      <label>
                                        <input type="radio" value={{i.id}} name="parent"> {{i.name}}
                                      </label>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    <p></p>
                    <button type="submit" id="btn-update">Применить</button>
                    </div>
                </div>
            </form>
        </section>
        {% else %}
        <p></p>
        <a href="/user/login"><button>Вход</button></a>
        {% endif %}
        <p><a href="/category/{{id_category}}"><button>Вернуться</button></a> </p>
        <p></p>
        <a href="\main"><button>На главную</button></a>
</body>
</html>