<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> {{title}} </title>
</head>
<body>
        <h1> {{title}}  </h1>
        <h2> Название: {{category.name}} </h2>
        {% if display %}
            {% if parent %}
                <p> Родительская категория: {{parent.name}}</p>
            {% else %}
                <p>Родительская категория: отсутствует</p>
            {% endif %}
            <p>Связанные категории:</p>
            {% if children %}
                <ul>
                {% for i in children %}
                   <li> <a href="/category/{{i.id}}"> {{i.name}} </a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>отсутствуют</p>
            {% endif %}
            <a href="/category/create"> <button> Добавить </button> </a>
            <p><a href="/category/update/{{category.id}}">  <button>  Изменить </button> </a></p>
            <p><a href="/category/delete/{{category.id}}">  <button>  Удалить </button> </a></p>
            <p><a href="/category/list">  <button>  Вернуться к списку </button> </a> </p>
        {% endif %}
</body>
</html>