<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
        <p> {{ message }} </p>
        <p></p>
        {% if display %}
        <section class="conteiner-fluid">
            <form method="post" action="/product/create" enctype="multipart/form-data">
                <div class="col-auto">
                    <div class="imput-group">
                    <label for="name"> Введите название </label>
                    <input type="text" id="name"  name="name" maxlength="255" aria-describedby="btn-add_product">
                    <p></p>
                    <label for="item_number"> Введите артикул </label>
                    <input type="text" id="item_number"  name="item_number" maxlength="255"
                           aria-describedby="btn-add_product">
                    <p></p>
                   <label for="description"> Введите описание товара</label>
                    <input type="textarea" id="description" name="description" aria-describedby="btn-add_product">
                    <p></p>
                     <label for="price"> Введите цену товара </label>
                    <input type="text" id="price" name="price" maxlength="255" aria-describedby="btn-add_product">
                    <p></p>
                     <label for="count"> Введите количество товара </label>
                    <input type="text" id="count" name="count" maxlength="255" aria-describedby="btn-add_product">
                    <p></p>
                    <label for="category">Категория товара:</label>
                    <select name="category" id="category">
                        {% for item in categories %}
                            <option value={{item.id}}> {{item.name}} </option>
                        {% endfor %}
                    </select>
                    <p></p>
                     <label for="file"> Добавить изображение </label>
                    <input type="file" id="file" name="file">
                    <p></p>
                    <button type="submit" id="btn-add_product" >Добавить</button>
                    </div>
                </div>
            </form>
            <p></p>
        </section>
        {% endif %}
        <p></p>
        <p></p>
    <a href="\main"><button>На главную</button></a>
</body>
</html>
