<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', path='/pay.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p> {{ message }} </p>
    <main>
  <div class="wrapper">
    <form method="post" action="/product/payment/{{user.id}}?shop={{shop.id}}">
        <div>
            <label for="shop">Выбранный магазин</label>
            <p><textarea id="shop" name="shop" disabled> {{shop.name}} </textarea></p>
        </div>
      <div>
        <label for="name">Name on card</label>
        <input required type="text" id="name" name="name" autocomplete="cc-name">
      </div>
     <div class="card-number">
        <label>Card number</label>
       <input required type="text" id="card-number" name="card-number" inputmode="numeric" autcomplete="cc-number" pattern="[0-9]+">
      </div>
      <div class="date-code"><div>
        <label for="expiry-date">Expiry date</label>
       <input required type="text" id="expiry-date" name="expiry-date" class="expiry-date" autocomplete="cc-exp" placeholder="MM/YY" minlength="4" pattern="[0-9/]+">
        </div>
        <div>
        <label for="security-code">Security code</label>
          <input required type="text" id="security-code" name="security-code" inputmode="numeric" minlength="3" maxlength="4" pattern="[0-9]+"></div>
      </div>
      <button>Оплатить {{cost}} </button>
    </form>
  </div>
</main>
        <a href="\main"> На главную</a>

</body>
</html>