<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <title> {{title}} </title>
</head>
<body>
        <h1> {{title}}  </h1>
        <form method="get" action="/product/list">
            <input type="search" id="mySearch" name="q" placeholder="Поиск товаров" size="30" />
            <button>Поиск</button>
            <div class="dropdown">
                    <button class="dropbtn">Категории</button>
                    <div class="dropdown-content">
                        {% for category in categories %}
                            <a href="?category={{category.id}}">{{category.name}}</a>
                        {% endfor %}
                    </div>
            </div>
        </form>
        {% if service %}
        <p> Страницы:
            {% for i in service['pages'] %}
                <a href="?page={{i}}">{{i+1}}</a>
            {% endfor %}
            </p>
        {% endif %}
        {% if products %}
            <ul>
            {% for i in products %}
              <li>
                  <div>
                      <img src="data:image/{{i['format_file']}}; base64, {{ i['image_str'] | safe }}" alt="{{ i['name']}}"/>
                       {% if not i['is_active'] %}  Товар не доступен {% endif %} <br>
                      {% if i['count'] %} Товар в наличии {% else %} Товар отсутствует {% endif %} <br>
                      <a href="/product/{{i['id']}}"> {{ i['name']}} </a> Цена: {{i['price']}} рублей
                  </div>
              </li>
            {% endfor %}
            </ul>
        {% else %}
            <h1> Нет доступных товаров </h1>
        {% endif %}
        {% if is_staff %}
            <a href="/product/create"> Добавить</a>
        {% endif %}
        <p><a href="/main"> На главную</a></p>
</body>
</html>