<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/list.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <title> {{title}} </title>
</head>
<body>
        <h1> {{title}}  </h1>
        <form method="get" action="/product/list">
            <input type="search" id="mySearch" name="q" placeholder="Поиск товаров" size="30" />
            <button>Поиск</button>
            <div class="dropdown">
                    <button class="dropbtn">Категории</button>
                    <div class="dropdown-content">
                        {% for category in categories %}
                            <a href="?category={{category.id}}">{{category.name}}</a>
                        {% endfor %}
                    </div>
            </div>
        </form>
        {% if service %}
        <p> Страницы:
            {% if service['page'] > 0 %}<a href="?page={{service['page']-1}}"> Предыдущая </a>{% else %} Предыдущая {% endif %}
            {% for i in service['pages'] %}
                {% if service['page'] == i %} {{i+1}} {% else %} <a href="?page={{i}}">{{i+1}}</a> {% endif %}
            {% endfor %}
            {% if service['page'] < service['total'] %}<a href="?page={{service['page']+1}}"> Следующая </a>{% else %} Следующая {% endif %}
            </p>
        {% endif %}
        {% if products %}
            <div class ='row'>
            {% for i in products %}
                 <div class ="column">
                    <div class="card">
                      <img src="data:image/{{i['format_file']}}; base64, {{ i['image_str'] | safe }}" alt="{{ i['name']}}">
                      <div class="container">
                        <h2>{{ i['name']}}</h2>
                            {% if not i['is_active'] %}  Товар не доступен <br> <br>
                            {% else %}
                                {% if i['count'] %} Товар в наличии {% else %} Товар отсутствует {% endif %} <br>
                                Цена: {{i['price']}} рублей <br>
                                {% endif %} <br>
                        <p><a href="{{i['id']}}"> <button class="button">Выбрать</button></a></p>
                      </div>
                    </div>
                 </div>
            {% endfor %}
            </div>
        {% else %}
            <h1> Нет доступных товаров </h1>
        {% endif %}
        {% if is_staff %}
            <a href="/product/create"><button>Добавить</button></a>
        {% endif %}
        <p></p>
        <p></p>
        <p><a href="/main"> <button>На главную </button></a></p>
</body>
</html>