<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
        <style>
        img {
            float: left;
            margin: 10px;
        }
    </style>
</head>
<body>
        <h1> {{ product.name}}</h1>
        <img src="data:image/{{format_file}}; base64, {{ image_str | safe }}" alt="{{ product.name}}"/>
        <h2>Описание</h2>
        <p> {{product.description}}</p>
        <p>Цена {{product.price}}</p>
        <p> В наличии: {{product.count}} </p>
        <p>Категория: {{product_category}} </p>
        <p>Акция: {% if product.action %} Участвует {% else %} Нет {% endif %}</p>
        <a href="/product/car/{{product.id}}"> Купить</a>
        {% if is_staff %}
            <p></p>
            <a href="/product/update_product/{{product.id}}">Обновить</a>
        <p> <a href="/product/update_image_product/{{product.id}}">Изменить изображение</a></p>
        <p> <a href="/product/delete/{{product.id}}">Удалить</a></p>
        {% endif %}
        <p><a href="/main"> На главную</a></p>
</body>
</html>