<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
<link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
        <h1>Описание товара: {{product.name}}</h1>
        <p></p>
        {% if product.is_active %}
            <img style="float: left;" src="data:image/{{format_file}}; base64, {{ image_str | safe }}" alt="{{ product.name}}"/>
            {{product.description}}
            Цена {{product.price}}<br>
            В наличии: {{product.count}}<br>
            Категория: {{product_category}}<br>
            Акция: {% if product.action %} Участвует {% else %} Нет {% endif %}<br>
            {% if user %}
            <a href="/buy/car/{{product.id}}"> Купить</a>
            {% else %}
            Вы не вошли в систему<br>
            {% endif %}
        {% else %}
            <p>Товар отсутствует </p>
        {% endif %}
        {% if is_staff %}
            <p></p>
            <a href="/product/update_product/{{product.id}}">Обновить</a>
        <p> <a href="/product/update_image_product/{{product.id}}">Изменить изображение</a></p>
        <p> <a href="/product/delete/{{product.id}}">Удалить</a></p>
        {% endif %}
        <p><a href="/main"> На главную</a></p>
</body>
</html>