<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
        <p> {{ message }} </p>
        <p></p>
       <h2> Название: {{shop.name}}</h2>

       <p>Адрес магазина: {{shop.location}}</p>
        <p></p>
        <p><a href="/product/shop/list"> Вернуться к списку магазинов </a> </p>
        {% if display %}
            <p><a href="/product/shop/update/{{shop.id}}"> Изменить </a> </p>
            <p><a href="/product/shop/delete/{{shop.id}}"> Удалить </a> </p>
        {% endif %}
        <p></p>
        <p></p>
    <a href="\main"> На главную</a>
</body>
</html>
