<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
        <p> {{ message }} </p>
        <p></p>
        {% if display %}
        <section class="conteiner-fluid">
            <form method="post" action="/product/shop/update/{{shop.id}}">
                <div class="col-auto">
                    <div class="imput-group">
                    <label for="name"> Введите название магазина </label>
                    <textarea id="name"  name="name"> {{shop.name}} </textarea>
                    <p></p>
                    <label for="location"> Введите адрес магазина </label>
                        <textarea id="location"  name="location" > {{shop.location}} </textarea>
                    <p></p>
                    <button type="submit" id="btn-update_shop" >Применить</button>
                    </div>
                </div>
            </form>
            <p></p>
        </section>
        {% endif %}
        <p></p>
        <p></p>
    <a href="\main"> На главную</a>
</body>
</html>
