<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p> {{ message }} </p>
        {% if display %}
            <section class="conteiner-fluid">
            <form method="post" action="/buy/car-user">
                <div class="col-auto">
                    <div class="imput-group">
                        <ul>
                            <p> Название   Количество   Цена  Стоимость</p>
                        {% for item in car %}
                            <li> {{item.name}}  {{item.count}}  {{item.price}}  {{item.count*item.price}} <a href="?delet={{item.number}}"> Удалить из карзины</a> </li>
                        {% endfor %}
                        </ul>
                        <label for="shop">Выберите магазин:</label>
                        <select name="shop" id="shop">
                        {% for item in shops %}
                            <option value={{item.id}}> {{item.name}} / {{item.location}} </option>
                        {% endfor %}
                        </select>
                        <h2>Всего к оплате: {{cost}}</h2>
                    <button type="submit" id="btn-buy">Оплатить</button>
                    </div>
                </div>
            </form>
        </section>
    <p><a href="\product\list"><button>Продолжить покупки</button></a></p>
        {% endif %}
        <p></p>
        <p></p>
        <a href="\main"><button>На главную</button></a>

</body>
</html>