<!DOCTYPE html>
<html lang="en">
<head>
    <link href="{{ url_for('static', path='/pay.css') }}" rel="stylesheet">
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <h1>{{title}}</h1>
    <p> {{ message }} </p>
    <main>
        {% if display %}
          <div class="wrapper">
            <form method="post" action="/buy/payment?shop={{shop.id}}">
                <div>
                    <label for="shop">Выбранный магазин</label>
                    <p><textarea id="shop" name="shop" disabled> {{shop.name}} </textarea></p>
                </div>
              <div>
                <label for="name">Name on card</label>
                <input required type="text" id="name" name="name" autocomplete="cc-name">
              </div>
             <div class="card-number">
                <label>Card number</label>
               <input required type="text" id="card_number" name="card_number" inputmode="numeric" autcomplete="cc-number" pattern="[0-9]+">
              </div>
              <div class="date-code"><div>
                <label for="expiry_date">Expiry date</label>
               <input required type="text" id="expiry_date" name="expiry_date" class="expiry-date" autocomplete="cc-exp" placeholder="MM/YY" minlength="4" pattern="[0-9/]+">
                </div>
                <div>
                <label for="security_code">Security code</label>
                  <input required type="text" id="security_code" name="security_code" inputmode="numeric" minlength="3" maxlength="4" pattern="[0-9]+"></div>
              </div>
              <button>Оплатить {{cost}} </button>
            </form>
          </div>
        {% endif %}
</main>
        <p><a href="\main"><button>На главную</button></a></p>

</body>
</html>